body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
}

.footer-container {
  padding: 15px;
  border: 1px solid gray;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #1617174d;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 25px;
}

.modal-content {
  position: relative;
  max-width: 800px;
  border-radius: 15px;
  padding: 25px;
  margin-inline: auto;
  background-color: aliceblue;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-head-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.movie-img-container {
  position: relative;
  justify-content: center;
}

.movie-img {
  width: 300px;
  border-radius: 25px;
}

.movie-infos-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 93%;
}

.movie-img-infos {
  display: flex;
  justify-content: center;
}

.movie-name {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.movie-name:hover {
  color: wheat;
  background-color: black;
}

.movie-infos {
  margin-top: 35px;
  max-width: 450px;
  margin-inline: auto;
  text-align: center;
  background-color: burlywood;
  padding: 15px;
  border-radius: 15px;
}

.language-rating {
  display: flex;
  justify-content: space-between;
}

.close-icon-container {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: burlywood;
  padding: 10px;
  border-radius: 5px;
}
