body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navMenu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
}

.footer-container {
  padding: 15px;
  border: 1px solid gray;
}
